GROQ_API_KEY=your_groq_api_key
HF_TOKEN=your_huggingface_token

POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=6543
POSTGRES_DB=postgres
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

SUPABASE_BUCKET=storage
SUPABASE_S3_ENDPOINT=your_s3_endpoint

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
